
* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
@keyframes opacity_up {
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 1;}
}
@keyframes opacity_down {
    0%   {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}
.text-intro {
    text-align:center !important;
    margin-top:4rem !important;
    color:#fff !important;
    font-size: 1.4rem !important;
    opacity:0 !important;
    display:none !important;
    animation: opacity_up 1s ease  !important;
}
.opacity-up {
    color:red;
    animation: opacity_up 1s ease ;
}
.opacity-down {
    animation: opacity_down 0.6s ease ;
}
.btn--light-border {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}
.flickity-prev-next-button.previous {
	left: 10px !important;
}

.flickity-prev-next-button.next {
	right: 10px !important;
}

.flickity-rtl .flickity-prev-next-button.previous {
	left: auto;
    position: fixed;
    right: 90% !important;
}

.flickity-rtl .flickity-prev-next-button.next {
	left: 10px !important;
    position: fixed;
    right: -90% !important;
}
.li-hover {
    color: #dcdcdd !important;
}
.li-hover:hover {
    color: #ffd700 !important;
}
.text-gold {
color: #ffd700;
}
.text-gold-light {
    color: #dcdcdd;
}

.bg-dark-light {
    background-color: #0f285e;
}

.bg-introduction {
    /* background-image: url("../../img/intro_hd.webp"); */
    width: 100%;
    display: block;
    height: 900px;
    /* padding-top: 15rem !important; */
}

.text-anim-intro {
    position: absolute;
    bottom:0;
    display: block;
}

.btn-introduction {
    position: absolute;

}

.bg-introduction-bottom-1 {
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    background-color: #0f285e;
    width: 105%;
    height: 300px;
    position: absolute;
    top:-70px;
    /* bottom: -100px; */
    display: block;
    transform: rotate(-3deg)
}
.bg-introduction-bottom-2 {
    background-color: #0f285e;
    padding: 20px 0;
}

.bg-first {
    padding: 50px 0;
}

.btn--gold {
    border: 2px solid #ffd700;
    background-color: transparent;
    color: #ffd700;
}
.btn--gold:hover {
    border: 2px solid #ffd700 !important;
    background-color: #ffd700 !important;
    color: #222222 !important;
}

.btn--black {
    border: 2px solid #222222;
    background-color: transparent;
    color: #222222;
}
.btn--black:hover {
    border: 2px solid #222222;
    background-color: #222222;
    color: #ffd700;
}
/* .widget-address__url:after{
    background-color: #ffd700;
} */
.entry__article a:not(.wp-block-button__link){
    color: #a252a3;
}
.ml15 {
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

.logo-homepage {
    width: 25rem !important;
    height: 100% !important;
    margin-bottom: 3rem !important;
}

.section-testimonials--large-padding {
    padding: 160px 0 320px;
}

.title-home {
    font-size: 3rem;
    color: #3c3c3c;
    font-weight: bold;
}

.bg-shadow-box {
    box-shadow: 10px 7px 4px -2px rgba(0,0,0,0.19);
}

.bg-website_1 {
    background-image: url("../../img/website_1.webp");
}
.bg-website_2 {
    background-image: url("../../img/website_2.webp");
}
.bg-website_3 {
    background-image: url("../../img/website_3.webp");
}

.copyright-wrap {
    padding: 40px 0;
    border-top: 0;
}
.text-black {
    color:black;
}
.bg-product-1 {
    background-image: url('../../img/product_11.webp');
}
/* .bg-product-2 {
    background-image: url('../../img/product_22.webp');
}
.bg-product-3 {
    background-image: url('../../img/product_33.webp');
} */
.figure-product {
    background-color: rgba(0,0,0,0);
    color: #a252a3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* overflow: hidden;
    box-sizing: border-box; */
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); */

}
.figure-product img {
    /* opacity: 1; */
    border: solid 2px rgba(0,0,0,0);
    transition: all 0.2s ease-out;
    /* transition: scale 1s; */
}
.figure-product img:hover {
    /* opacity: 0.8; */
    border: solid 2px #222222;
    transition: all 0.5s ease-out;
    /* transform: scale(1.5); */
}


#fade-title{
    top: 11rem;
}
.tp-mask-wrap {
    top:-5rem;
}
.bg-logo-intro {
    background-image: url("../../img/logo.webp");
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    height: 14rem;
    width: 23rem;
    padding-bottom: 20px;
}

.mt-text-anim {
    margin-top: 2rem;
}

.article-responsive {
    opacity: 0;
}

.responsive-footer {
    text-align: left;
}

.leading-5 {
    padding: 1rem;
}
.no-strong {
    font-weight: normal;
}

::selection {
    background: #a252a3;
    color: #fff;
}

.more-info {
    color:#a252a3;
    /* float: left; */
    font-size: 1rem;
    font-weight: normal;
    padding: 10px 10px;
    border: solid 1px #a252a3;
}
.more-info:hover {
    color:#fff;
    background-color: #a252a3;
    border: solid 1px #a252a3;
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    font-size: 0;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #dcdcdc;
    animation: a 1.7s linear infinite;
    z-index: 11;
}
.loader:after,.loader:before {
    border-top-color: #facc00;
}
.loader-mask {
    background-color: #0f285e;
}
.nav{
    min-height: 30px;
}

.bg-blue-dark {
    background-color: #0d1423;
}

.section-subtitle--line:before {
    background-color: #a252a3;
}

.logo {
    max-height: 40px;
}
.logo-intro {
    width: 100%;
    z-index: 1;
    position: absolute;
    top:10rem;
    height: 13.5rem !important;
}

.logo-intro .logo {
    min-height: 100%;
}


#A {
    position: relative;
    top:0.4rem;
    font-size: 55px
}
.tp-resizeme {
    letter-spacing: 5px !important;
    font-size: 107px !important;
}


.color-5 {
    color: #03b7fb;
}

.color-7 {
    color: #a252a3;
}

.color-black {
    color: #333;
}

.color-youtube {
    color: #f70100;
}

.scroll-down {
    color: #03b7fb;
}

.scroll-down:hover {
    color: #a252a3;
}

.angle-mask:before{
    padding-bottom: 12rem;
}
/* .angle--top:before {
    margin-top: -247px;
} */
.bg-pattern, .bg-pattern.angle:before {
    background: none;
    background-color: #0f285e;
}

.angle:before {
    background-color: #f6f6f6;
}

.bg-overlay {
    /* background-color: #333; */
    background-color: #3c3c3c;
}

.footer__bottom {
    background-color: #0d1423;
    border-top: 1px solid #323232;
}

.bg-techno {
    background-image: url('../../img/techno.webp');
}


.bg-results {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../img/results-hd.webp');
    /* background-color: #3c3c3c */
}
.bg-pwa {
    background-image: url('../../img/bg-pwa.webp');
}

.bg-graphic {
    background-image: url('../../img/bg-graphic.webp');
}

.bg-code {
    background-image: url('../../img/bg-code.webp');
}

.bg-pwa-mini {
    background-image: url('../../img/comp-pwa-mini.webp');
}

.bg-graphic-mini {
    background-image: url('../../img/comp-art-mini.webp');
}

.bg-code-mini {
    background-image: url('../../img/comp-code-mini.webp');
}

.bg-contact{
    background-image: url('../../img/bg-contact.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-opacity:0.1
}

.nav__menu>li>a {
    color: rgba(255,255,255,0.8);
    /* font-family: "Myriad Web Pro"; */
}

.nav--sticky.sticky {
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    background-color: #0f285e;
    /* background-color: #323232; */
    z-index: 120;
    height: 60px;
}
/* .nav--sticky.sticky ul li a {
    color: #fff;
}
.nav--sticky.sticky .nav__socials a {
    color:#fff;
} */

.nav-color-resp {
    background-color: #0f285e;
}

/* .container-semi-fluid {
    background: #fff;
} */

.nav__menu>li>.home_active, .nav__menu>li>a:hover {
    color: rgba(255,255,255,0.8);
}

.nav__icon-toggle-bar {
    background-color:#dcdcdd;

}

.nav__icon-perso {
    position: absolute;
    width: 36px;
    height: 36px;
    top:15%;
    left: 88%;
    background-color: transparent;
    border: none;
    color: #fff;
}
.nav__icon-perso:hover {
    background-color: transparent;
    border: none;
    color: #fff;
}

.nav__socials a {
    color: rgba(255,255,255,0.8);
}

.cc-window{
    display: none;
}


.text-h1 {
    color: #686868;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-weight:lighter;
    display: inline-flex;
}

.btn-return-white {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

.btn-return-white:hover {
    border: 2px solid #ffd700;
    background-color: #ffd700;
    color: #fff;
}

.hide-up {
    display: none !important;
}
.hide-down {
    display: block !important;
}

.logo-responsive{
    display: block;
}

.animate {
	position: relative;
	overflow: hidden; }
	.animate-container {
		opacity: 0;
		visibility: hidden;
		-webkit-transition: 0.2s ease-in-out 0.8s;
		transition: 0.2s ease-in-out 0.8s; }
	.animate:before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0; }
	.animate:before {
		background-color: #F6F6F6;
		z-index: 1;
		-webkit-transform: translateX(-101%);
		transform: translateX(-101%); }
	.animate--animated:before {
		-webkit-animation: deothemes-appearing-animation 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
		        animation: deothemes-appearing-animation 1s cubic-bezier(0.86, 0, 0.07, 1) forwards; }
	.animate--animated .animate-container {
		opacity: 1;
		visibility: visible; }

@-webkit-keyframes deothemes-appearing-animation {
	0% {
		-webkit-transform: translateX(-101%);
		transform: translateX(-101%); }
	50% {
		-webkit-transform: translateX(0);
		transform: translateX(0); }
	100% {
		-webkit-transform: translateX(101%);
		transform: translateX(101%); }
}

@keyframes deothemes-appearing-animation {
	0% {
		-webkit-transform: translateX(-101%);
		transform: translateX(-101%); }
	50% {
		-webkit-transform: translateX(0);
		transform: translateX(0); }
	100% {
		-webkit-transform: translateX(101%);
		transform: translateX(101%); }
}


@media (max-width: 1280px) {
    .angle-mask:before{
        padding-bottom: 0;
    }
    #A {
    top:0.2rem;
    font-size: 45px;
    }
    .logo-intro {
        top:7.5rem;
        height: 13.5rem !important;
    }
    #fade-title{
        top: 7rem;
    }
    .tp-mask-wrap {
        top:-3rem;
    }
    .bg-logo-intro {
        background-image: url("../../img/logo.webp");
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        height: 10rem;
        width: 20rem;
        padding-bottom: 20px;
    }

}

/*ipad PRo 12.9"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

    #fade-title{
        top: 16rem;
    }
    .tp-mask-wrap {
        top:-9rem;
    }
    .bg-logo-intro {
        background-image: url("../../img/logo.webp");
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        height: 20rem;
        width: 40rem;
        padding-bottom: 20px;
    }

}

@media (max-width: 1024px) {
    #A {
    top:0.2rem;
    font-size: 45px;
    }
    .logo-intro {
        top:7.5rem;
        height: 18.5rem  !important;
    }
    /* #anim-title{
        top: 6rem;
    } */

    .article-responsive {
        opacity: 1;
    }
}

/*ipad PRo 12.9"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

    .logo-intro {
        top:8.5rem;
        height: 11.5rem  !important;
    }
    /* #anim-title{
        top: 3rem;
    } */

    #A {
    top:0.2rem;
    font-size: 55px;
    }

}

@media (max-width: 992px) {
    .nav{
        background-color: #fff;
    }
    .nav-color-resp {
        background-color: #0f285e;
    }

    .bg-results {
        background-image: url('../../img/results-mini.webp');
        background-size: cover;
    }
    #A {
        top:0.6rem;
    }

    .tp-resizeme {
        letter-spacing: 5px !important;
        font-size: 75px !important;
    }

    .logo-intro {
        top:5.5rem;
        height: 8.5rem !important;
    }
}

/*iPad Pro 10.5"*/
/* Portrait */
@media (max-width: 834px) {
    #A {
    top:0.2rem;
    font-size: 45px;
    }
    .logo-intro {
        top:8.5rem;
        height: 20.5rem !important;
    }
    #anim-title{
        top: 0;
    }

}



@media (max-width: 800px) {
    #A {
    top:0.2rem;
    font-size: 45px;
    }
    .logo-intro {
        top:7.5rem;
        height: 20.5rem !important;
    }
    #fade-title{
        top: 16rem;
    }
    .tp-mask-wrap {
        top:-15rem;
    }
    .bg-logo-intro {
        background-image: url("../../img/logo.webp");
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        height: 15rem;
        width: 30rem;
        padding-bottom: 20px;
    }

}

@media (max-width: 768px) {
    #A {
    top:0.5rem;
    font-size: 65px;
    }
    .logo-intro {
        top:10.5rem;
        height: 15.5rem !important;
    }
    /* #anim-title{
        top: 4rem;
    } */
    #fade-title{
        top: 16rem;
    }
    .tp-mask-wrap {
        top:-5rem;
    }
    .bg-logo-intro {
        background-image: url("../../img/logo.webp");
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        height: 15rem;
        width: 30rem;
        padding-bottom: 20px;
    }
    .responsive-footer {
        text-align: center;
    }

}

@media (max-width: 720px) {
    .logo-homepage {
        width: 19rem !important;
    }
    #A {
    top:0.5rem;
    font-size: 65px;
    }
    .logo-intro {
        top:5.5rem;
        height: 8.5rem !important;
    }
    /* #anim-title{
        top: 3rem;
    } */

    .hide-up {
        display: block !important;
    }
    .hide-down {
        display: none !important;
    }
}

@media (max-width: 600px) {
    #A {
    top:0.3rem;
    font-size: 45px;
    }
    .logo-intro {
        top:7.2rem;
        height: 12.5rem !important;
    }
    #fade-title{
        top: 12rem;
    }
    .tp-mask-wrap {
        top:-7rem;
    }
    .bg-logo-intro {
        background-image: url("../../img/logo.webp");
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        height: 10rem;
        width: 20rem;
        padding-bottom: 20px;
    }

}

@media (max-width: 540px) {
    #A {
    top:0.3rem;
    font-size: 45px;
    }
    .logo-intro {
        top:6.2rem;
        height: 12.5rem !important;
    }
    /* #anim-title{
        top: 2.5rem;
    } */
    #fade-title{
        top: 6rem;
    }
    .tp-mask-wrap {
        top:-2rem;
    }
    .bg-logo-intro {
        background-image: url("../../img/logo.webp");
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        height: 9rem;
        width: 18rem;
        padding-bottom: 20px;
    }
    .mt-text-anim {
        margin-top: 2rem;
    }
}

@media (max-width: 512px) {
    #A {
    top:0.2rem;
    font-size: 45px;
    }
    .logo-intro {
        top:5.5rem;
        height: 10rem !important;
    }
    /* #anim-title{
        top: 3rem;
    } */

    .tp-resizeme {
        letter-spacing: 5px !important;
        font-size: 40px !important;
    }
    .header {
        position: absolute;
        /* bottom: 6rem; */
        left: 50%;
        transform: translate(-50%, -200%);
        color: white;
    }
}

    @media (max-width: 375px) {
        #A {
        top:0.2rem;
        font-size: 45px;
        }
        .logo-intro {
            top:6.5rem;
            height: 10rem !important;
        }
        #fade-title{
            top: 5.5rem;
        }
        .tp-mask-wrap {
            top:-2rem;
        }
        .bg-logo-intro {
            background-image: url("../../img/logo.webp");
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 auto;
            height: 9rem;
            width: 18rem;
            padding-bottom: 20px;
        }

    }

    @media only screen
    and (device-width : 375px)
    and (-webkit-device-pixel-ratio : 3) {
        #A {
        top:0.2rem;
        font-size: 45px;
        }
        .logo-intro {
            top:5.5rem;
            height: 9rem !important;
        }
        /* #anim-title{
            top: 2rem;
        } */

    }

    @media (max-width: 320px) {
        #A {
        top:0.2rem;
        font-size: 45px;
        }
        .logo-intro {
            top:5.5rem;
            height: 9rem !important;
        }
        /* #anim-title{
            top: 2rem;
        } */
        #fade-title{
            top: 3.5rem;
        }
        .tp-mask-wrap {
            top:-1rem;
        }
        .bg-logo-intro {
            background-image: url("../../img/logo.webp");
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 auto;
            height: 9rem;
            width: 18rem;
            padding-bottom: 20px;
        }
        .mt-text-anim {
            margin-top: 0.8rem;
        }

    }
    @media only screen
    and (device-width : 280px)
    and (-webkit-device-pixel-ratio : 3) {
        #A {
        top:0.2rem;
        font-size: 35px;
        }
        .logo-intro {
            top:6rem;
            height: 7.5rem !important;
        }
        /* #anim-title{
            top: 2rem;
        } */

        .tp-resizeme {
            letter-spacing: 5px !important;
            font-size: 25px !important;
        }

        #fade-title{
            top: 4.5rem;
        }
        .tp-mask-wrap {
            top:-1rem;
        }
        .bg-logo-intro {
            background-image: url("../../img/logo.webp");
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 auto;
            height: 8rem;
            width: 16rem;
            padding-bottom: 20px;
        }
    }
}
